@model CarRental.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="hidden" name="carId" value="@ViewBag.CarId" />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="PickupLocationId" class="control-label"></label>
                <select asp-for="PickupLocationId" class ="form-control" asp-items="ViewBag.PickupLocation"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ReturnLocationId" class="control-label"></label>
                <select asp-for="ReturnLocationId" class ="form-control" asp-items="ViewBag.ReturnLocation"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PickupDate" class="control-label"></label>
                <input asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <h1>@ViewBag.CarName</h1>
            </div>
            <div class="form-group mb-3">
                <h1>@ViewBag.CarYear</h1>
            </div>
            <div class="form-group mb-3">
                <h1>@ViewBag.DailyRate</h1>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
