@model IEnumerable<CarRental.Models.Car>

@{
    ViewData["Title"] = "Let's rent some cars";
}

<div class="text-center">
    <h1 class="display-4">Which car we are going to rent today?</h1>
    <hr />
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 text-center">
            <img class="details-cars" src="@item.ImageUrl" width="100%" height="100%" />
        </div>
    }
</div>