@{
    ViewData["Title"] = "Let's rent some cars";
}

<div class="text-center">
    <h1 class="display-4">Which car we are going to rent today?</h1>
    <hr />
    <button id="registerSubmit" type="submit" class="w-25 btn btn-lg btn-primary">Zarezerwuj</button>
</div>
