@model IEnumerable<CarRental.Models.Car>

@{
    ViewData["Title"] = "Let's rent some cars";
}

<div class="text-center">
    <h1 class="display-4">Which car we are going to rent today?</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <img src="https://image.ceneostatic.pl/data/products/12821139/i-little-tikes-samochod-chodzik-cozy-coupe-612060.jpg" width="80%" height="100%" />
        <br /> <br />
        <button id="reservation" type="submit" class="w-25 btn-success btn">Zarezerwuj</button>
    </div>
    <div class="col-md-4 text-center">
        <img src="https://devil-cars.pl/img/image_1591274901_ePdvrzm3vcW7crKyFE2N9ZLMhf5nMc5hkQL6hXVq.jpeg" width="80%" height="100%" />
        <br /><br />
        <button id="reservation" type="submit" class="w-25 btn-success btn">Zarezerwuj</button>
    </div>
    <div class="col-md-4 text-center">
        <img src="https://ocdn.eu/pulscms-transforms/1/ruKk9kuTURBXy8yNzcyNWJkMS01MzQ2LTRjZGItOTQwMC1jNDY1OWYxMzQwNTYuanBlZ5GVAs0DBwDDw94AAaEwAQ" width="80%" height="100%" />
        <br /><br />
        <button id="reservation" type="submit" class="w-25 btn-success btn">Zarezerwuj</button>
    </div>
</div>